<!-- NG-ZORRO -->
<nz-layout>
  <nz-header>
    <div class="logo">
        <img src="https://ng.ant.design/assets/img/logo.svg">
    </div>
    <ul nz-menu [nzTheme]="'dark'" [nzMode]="'horizontal'" style="line-height: 64px;">
        <li nz-menu-item> <a routerLink="/dashboard">Dashboard</a></li>
        <li nz-menu-item><a routerLink="/heroes">Heroes</a></li>
      </ul>
  </nz-header>
  <nz-layout>
    <nz-content style="background:#fff; padding: 24px; min-height: 280px;">
      <app-messages></app-messages>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
