<nz-card [nzTitle]="'My Heroes'">
  <form nz-form nz-form [nzLayout]="'inline'">
      <nz-form-item>
        <nz-form-label [nzSpan]="6" nzFor="email">Name</nz-form-label>
        <nz-form-control [nzSpan]="14">
          <input #heroName nz-input name="email" type="email" id="email">
        </nz-form-control>
      </nz-form-item >
      <nz-form-item>
          <nz-form-control [nzSpan]="14">
              <button nz-button nzType="primary" (click)="add(heroName.value); heroName.value=''">Add</button>
          </nz-form-control>
        </nz-form-item >
    </form>

  <nz-list [nzDataSource]="heroes" nzBordered [nzRenderItem]="item">
    <ng-template #item let-item>
      <nz-list-item [nzContent]="content" [nzActions]="[deleteAction]">
          <ng-template #content>
            <a routerLink="/detail/{{item.id}}">
              <span class="badge">{{item.id}}</span>{{item.name}}
            </a>
          </ng-template>
          <ng-template #deleteAction>
            <a (click)="delete(item)">delete</a>
          </ng-template>
      </nz-list-item>
    </ng-template>
  </nz-list>
</nz-card>
